config.log
config.status
configure
install-sh
py-compile
missing
ovirt-iso-uploader.spec
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
ABOUT-NLS

intl

tmp.*
*.pyc
*.pyo
*~
